@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #000000;
  --lazada: #f57224;
  --shopee: #ee4d2d;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@layer utilities {
  .bg-lazada {
    background-color: var(--lazada);
  }
  .bg-shopee {
    background-color: var(--shopee);
  }
}
@media (prefers-color-scheme: light) {
  :root {
    --background: #ffffff;
    --foreground: #000000;
  }
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --lazada: #f57224;
    --shopee: #ee4d2d;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
